#logo {
    width: 250px; 
    height: auto; 
    cursor: pointer; 
}

header {
    background-color: #f8f8f8;
    color: #ffffff;
    display: flex;
    align-items: center; 
    padding: 0 20px; 
    height: 130px;
    font-family: 'Yu Mincho', 'Hiragino Mincho ProN', 'serif';
}

nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 30px; 
}

nav a {
    color: #292929;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    text-decoration: underline;
    color: #4f90f2;
}

h3.a{
    background-color: #fff2b9;
    border-bottom: solid 3px #e19d28;
    border-top: solid 3px #e19d28;
    padding-top: 3px;
    padding-bottom: 3px;
}

.mokuji{
    border:solid #ffbd4c;
    padding-left: 20px;
    margin-right: 600px;
}

.mokuji ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.mokuji li {
    margin-left: 30px; 
}

.mokuji a {
    color: #292929;
    text-decoration: none;
}

.mokuji a:hover {
    text-decoration: underline;
    color: #4f90f2;
}